In [1]:
import pandas as pd

In [2]:
d = {
    'DuckDB [MiB]': ['514', '802.1', '1090'],
    'Polars [MiB]': ['1820', '2930', '7590'],
    'Vaex [MiB]': ['851', '2450', '5450']
}
df = pd.DataFrame(data=d, index=['Window','Agg-Trade','Agg-Quote'])
df

          DuckDB [MiB] Polars [MiB] Vaex [MiB]
Window             514         1820        851
Agg-Trade        802.1         2930       2450
Agg-Quote         1090         7590       5450

In [3]:
d = {
    'DuckDB [ms]': ['284', '708', '1510'],
    'Polars [ms]': ['560', '2430', '7120'],
    'Vaex [ms]': ['73.1', '2450', '3360']
}
df = pd.DataFrame(data=d, index=['Window','Agg-Trade','Agg-Quote'])
df

          DuckDB [ms] Polars [ms] Vaex [ms]
Window            284         560      73.1
Agg-Trade         708        2430      2450
Agg-Quote        1510        7120      3360